ConfigureVault/.terraform
ConfigureVault/*.tfplan
ConfigureVault/terraform.tfstate
ConfigureVault/terraform.tfstate.backup
ConfigureVault/.terraform.tfstate.lock.info
ConfigureVault/awscreds.tf
DeployHelm/.terraform
DeployHelm/*.tfplan
DeployHelm/terraform.tfstate
DeployHelm/terraform.tfstate.backup
DeployHelm/.terraform.tfstate.lock.info
MS_Backups/*