# vault configuration values
# Using the banzaicloud-stable/vault v 1.2.0 helm repository, doc: https://hub.helm.sh/charts/banzaicloud-stable/vault
# Hashicorp "Configuration: Etcd Storage Backend" documented at: https://www.vaultproject.io/docs/configuration/storage/etcd
  dataStorage:
    enabled: true
  standalone:
    enabled: true
  ha:
    enabled: true
    replicas: ${replicas}
    config: |
      ui = true

      listener "tcp" {
        tls_disable     = 0
        tls_cert_file   = "/vault/userconfig/tls/tls_crt"
        tls_key_file    = "/vault/userconfig/tls/tls_key"
        address         = "[::]:8200"
        cluster_address = "[::]:8201"
      }

      storage "etcd" {
        ha_enabled = "true"
        path = "/vault/"
        etcd_api = "v3"
        address = "${etcd_clusterip}:2379"
      }
  extraVolumes:
    - type: secret
      name: tls
  extraEnvironmentVars:
    VAULT_ADDR: https://127.0.0.1:8200
    VAULT_SKIP_VERIFY: true
ui:
  enabled: true
  serviceType: LoadBalancer