replicaCount: ${replicas}
vault:
  dev: False
  config: 
    storage:
      etcd:
        address: "http://${etcd_clusterip}:${etcd_clusterport}"
        etcd_api: "v3"
        ha_enabled: "true"
        username: "root"
        password: "${etc_rootpwd}"
        path: "/vault/"
  extraEnv:
    - name: VAULT_ADDR
      value: "http://127.0.0.1:8200"
serviceAccount:    
  create: True
ui:
  enabled: true
  serviceType: LoadBalancer