replicaCount: ${replicas}
vault:
  dev: False
  config: 
    storage:
      etcd:
        address: "http://${etcd_clusterip}:${etcd_clusterport}"
        etcd_api: "v3"
        ha_enabled: "true"
        username: "vaultuser"
        password: "vaultpassword"
        path: "/vault/"
serviceAccount:    
  create: True
